@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
} */

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --s: 7px; /* control the size*/
    --c1: #ebebeb;
    --c2: #ffffff;
    
    --c: var(--c1) 0 25%,var(--c2) 0 50%,#0000 0;
    overflow: hidden;
    position: fixed;
}

.background {
    background:
      conic-gradient(from 180deg,var(--c)) 
      0/var(--s) var(--s),
      repeating-conic-gradient(from 90deg,var(--c))
      0/calc(3*var(--s)) calc(3*var(--s));
    width: 100vw;
    height: 100vh;
}


nav {
    z-index: 20 !important;
}


.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.chatBg1 {
    --s: 20px; /* control the size*/
    --c1: #f2f2f2;
    --c2: #fafafa;
    
    --_g: #0000 8%,var(--c1) 0 17%,#0000 0 58%;
    background: 
      linear-gradient(135deg,#0000 20.5%,var(--c1) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
      linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
      linear-gradient(135deg,var(--_g),var(--c1) 0 67%,#0000 0),        
      linear-gradient( 45deg,var(--_g),var(--c1) 0 67%,#0000 0 83%,var(--c1) 0 92%,#0000 0),
      var(--c2); 
    background-size: var(--s) var(--s);
}

.chatBg {
    background-color: #fafafa;
    /* background-image: url('../../public/images/diag-gray-4.svg'); */
    background-position: center;
}

.sharp-image {
    image-rendering: pixelated;
}
  
.codeBlock {
    display: flex;
}
.codeBlock > div {
    border-radius: 8px;
    background-color: #f3f4f6;
    overflow: hidden;
}
.codeBlock p {
    font-weight: bold;
    color: #059669;
    line-height: 175%;
    letter-spacing: 0.5px;
    text-wrap: nowrap;
}
.codeLanguage {
    padding: 0.5em;
    /* background-color: #eceef3; */
    border-bottom: solid 1px #e5e7eb;
    color: #059669;
    font-weight: lighter;
}
.codeInnerDiv {
    padding: 2em;
    max-width: 500px;
    max-height: 300px;
    overflow-x: scroll;
}

@media (prefers-color-scheme: dark) {
    .codeBlock > div {
        border-radius: 8px;
        background-color: #171717;
        overflow: hidden;
    }

    .codeLanguage {
        padding: 0.5em;
        /* background-color: #eceef3; */
        border-bottom: solid 1px #404040;
        color: #059669;
        font-weight: lighter;
    }

    .chatBg {
        background-color: #171717;
        background-image: url('../../public/images/diag-gray-4.svg');
        background-size: 200%;
        background-position: center;
    }
}

.iconBg {
    /* background-image: url('../../public/images/icon-bg-2.svg'); */
    background-position: center;
    /* background-size: 200%; */
}

.shineBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(210deg,#e0f2fe00 0%, #e0f2fe 50%, #e0f2fe00 100%);
    background-size: 450% 100%; /* make room for sliding */
    animation: slideGradient 6s ease-in-out infinite;
}

@keyframes slideGradient {
    0% {
        background-position: 100% 0%;
        opacity: 0;
    }
    30% {
        background-position: 100% 0%;
        opacity: 0;
    }
    50% {
        opacity: 0.25;
    }
    70% {
        background-position: 0% 0%;
        opacity: 0;
    }
    100% {
        background-position: 0% 0%;
        opacity: 0;
    }
}

.pulseBg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #d97706;
    animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.35
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.35;
    }
}

.newTag {
    font-size: 8px;
    padding-block: 1px;
    padding-inline: 4px;
    transform: rotate(20deg);
}

b {
    font-weight: bold;
}

.gamesSubTab {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.agarioBg {
    background-color: #ffffff;
    opacity: 1;
    background-image:  linear-gradient(#efefef 2px, transparent 2px), linear-gradient(to right, #efefef 2px, #ffffff 2px);
    background-size: 36px 36px;
}

.card-input::placeholder {
    color: #404040;
}

#card {
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    perspective: 1000px;
    gap: 2em;
}

#card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.7s ease;
    transform-style: preserve-3d;
    /* border-bottom: solid 1px rgb(60,60,60); */
    border-radius: 5px;
    /* background-color: rgb(23,23,23); */
}

#card-front, #card-back {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #262626;
    border-radius: 5px;
    
}

#card-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

/* #card:hover #card-inner {
    transform: rotateY(180deg);
} */

.card-hover {
    transform: rotateY(180deg);
}

#card-back-header {
    color: rgb(60,60,60);
    /* border-bottom: solid 1px rgb(60,60,60); */
    width: 100%;
    margin: 0;
    height: 20%;
    line-height: 43px;
}

#card-back-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* gap: 1em; */
    height: 100%;
}

.correct {
    color: #16a34a;
}

.incorrect {
    color: #dc2626;
    text-decoration: line-through;
}

.delete-card-button {
    background-color: #dc2626;
    color: white;
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    border-radius: 100%;
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-weight: bold;
}

#alert-container {
    width: 100vw;
    height: 100vh;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.alert-box {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 6/5;
    border-radius: 5px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border: solid 1px rgb(60,60,60);
}

.alert-box-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.alert-box-h1 {
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
}

.card-info {
    /* margin: 0;
    font-size: 1.5em; */
    /* color: white; */
}

.alert-delete-confirm, .alert-delete-deny {
    border-radius: 50px;
    padding: 0.5em 1.25em;
    font-size: 1.25em;
    color: white;
    font-weight: bold;
}

.alert-delete-confirm {
    background-color: #dc2626;
}

.alert-delete-deny {
    background-color: transparent;
    border: solid 1px rgb(60,60,60);
}

#submit-card-check {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
    font-size: 1.5em;
    padding: 8px;
    width: 33%;
}

.card-grid-item {
    /* border: none; */
    position: relative;
    font-size: 1em;
    border-radius: 7px;
    /* overflow: hidden; */
    text-align: center;
    min-width: 52px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    flex: auto;
}
.card-grid-item:hover {
    /* background-color: rgb(30,30,30); */
}

#card-grid-item-h3 {
    /* text-align: center; */
    margin: 0;
    padding: 0.2rem 0.4rem;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* border: solid 1px rgb(60,60,60); */
    border-bottom: none;
    line-height: normal;
}

#percent-correct, #percent-incorrect {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
}

#percent-correct {
    color: #16a34a;
}

#percent-incorrect {
    color: #dc2626;
    border-left: solid 1px rgb(60,60,60);
}

#card-grid-percent-outer {
    height: 8px;
    width: 100%;
    /* background-color: rgb(60,60,60); */
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-radius: 5px;
    overflow: hidden;
}

.invader-dead {
    opacity: 0;
}

.invader {
    background-image: url('/luis_minion.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.player, .player-hurt {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.player {
    background-image: url('/luis-normal.webp');
}

.player-good {
    background-image: url('/luis-good.webp');
}

.player-hurt {
    background-image: url('/luis-hurt.webp');
}

.publixBg {
    background-image: url('/images/publix.jpg');
    background-position: center;
    background-size: cover;
}

.battle-monster-image {
    image-rendering: pixelated;
}


.alertPane {
    transition: all 500ms ease;
    z-index: 10 !important;
}

.alertActive {
    opacity: 1;
    transform: scale(1);
}

.alertInactive {
    opacity: 0;
    transform: scale(0);
}

.stat-pane, .start-btn {
    z-index: 10 !important;
}



/* #game-board {
    background-image: url('/images/td-map-1.png');
    background-position: initial;
    background-size: contain;
} */

.oldMan {
    background-image: url('/oldman.webp');
    background-size: cover;
}
.chan {
    background-image: url('/chan.webp');
    background-size: cover;
}
.luis {
    background-image: url('/luis.webp');
    background-size: cover;
}
.angel {
    background-image: url('/angel.webp');
    background-size: cover;
}
.joel {
    background-image: url('/joel.webp');
    background-size: cover;
}
.alex {
    background-image: url('/alex.webp');
    background-size: cover;
}


/* .tower-stats {
    display: none;
    pointer-events: none;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
} */

/* .tower-tab:hover .tower-stats {
    display: flex;
} */


#map1 {
    background-image: url('/images/td-map-new-1.png');
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

#map2 {
    background-image: url('/images/td-map-new-2.png');
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}
#map3 {
    background-image: url('/images/td-map-new-3.png');
    background-position: initial;
    background-size: contain;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

@font-face {
    font-family: 'pokemon';
    src: url('/pokemon_fire_red.ttf');
}

.battle-monster-container * {
    font-family: 'pokemon';
}

.scroll-container {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.right-shadow {
    box-shadow: 5px 0px 5px #0d0d0d75;
}

.bottom-hover-effect {
    box-shadow: 0px 8px 0px #08334480;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  transform: rotate(45deg);
}
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: -24px;
  animation: animloader 4s ease infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  animation: animloader2 2s ease infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 0 24px white, 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
  37% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 0 24px white, 24px 24px white, 24px 48px white, 0px 48px white;
  }
  62% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px white, 24px 48px white, 0px 48px white;
  }
  75% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px white, 0px 48px white;
  }
  87% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px white;
  }
  100% {
    box-shadow: 0 24px rgba(255, 255, 255, 0), 24px 24px rgba(255, 255, 255, 0), 24px 48px rgba(255, 255, 255, 0), 0px 48px rgba(255, 255, 255, 0);
  }
}

@keyframes animloader2 {
  0% {
    transform: translate(0, 0) rotateX(0) rotateY(0);
  }
  25% {
    transform: translate(100%, 0) rotateX(0) rotateY(180deg);
  }
  50% {
    transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
  }
  75% {
    transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
  }
  100% {
    transform: translate(0, 0) rotateX(0) rotateY(360deg);
  }
}
    